libopencm3/libopencm3/
toolchain-bare/*.tar.*
toolchain-bare/build-*/
*.dsc
*.deb
*.build
*.changes
*.tar.gz
*/*-stamp
*/debian/*.debhelper.log
*/debian/*.debhelper
*/debian/*.substvars
*/debian/files
toolchain-bare/binutils-*/
toolchain-bare/gcc-*/
toolchain-bare/gdb-*/
toolchain-bare/newlib-*/
toolchain-bare/debian/binutils-*/
toolchain-bare/debian/gcc-*/
toolchain-bare/debian/gdb-*/
toolchain-bare/debian/newlib-*/
toolchain-bare/bootstrap-src/
toolchain-bare/debian/bootstrap-toolchain-*/
